@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  /* color palette */
  --primary: #fb7413;
  --white: hsl(0, 0%, 100%);
  --grey-light: hsl(217, 12%, 63%);
  --grey-medium: hsl(216, 12%, 54%);
  --blue-dark: hsl(213, 19%, 18%);
  --blue-darkest: hsl(216, 12%, 8%);
  --background: #141519;
  --icon-bg: #2e3c52;
  /* typography */
  --font: 'Overpass', sans-serif;
  --font-size-base: 15px;
}
* {
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--background);
  color: var(--white);
  font-size: var(--font-size-base);
  font-family: var(--font);
}
h1,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  opacity: 0.7;
  line-height: 1.4;
}
main {
  height: 85vh;
  display: flex;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 20px 32px;
  border-radius: 12px;
  min-height: 320px;
  max-width: 400px;
  margin: auto;
  background: hsla(215, 27%, 12%, 1);
  background: linear-gradient(0deg, hsla(215, 27%, 12%, 1) 0%, #232e3e 100%);
}

img {
  width: 40px;
  height: 40px;
  padding: 12px;
  margin-bottom: 4px;
  background-color: #2e3c52;
  border-radius: 50%;
}

.card-text {
  margin-bottom: 8px;
}

.options-list-container {
  margin: 16px 0;
}

.review-options-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.review-options-list label {
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding-top: 4px;
  background-color: var(--blue-dark);
  opacity: 0.9;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s linear;
}

.review-options-list > label:hover {
  background-color: var(--grey-light);
  color: var(--white);
  font-weight: 700;
}

input[type='radio'] {
  appearance: none;
}

input[type='radio']:checked {
  background-color: var(--primary);
}

label {
  display: flex;
  justify-content: center;
  /* padding: 8px; */
  padding-top: 12px;
  height: 40px;
  width: 40px;
  background-color: var(--grey-medium);
  border-radius: 50%;
  color: var(--white);
  opacity: 0.8;
  transition: 0.5s;
  cursor: pointer;
}

label > span {
  align-self: center;
  justify-self: center;
}

.orange {
  /* hate to use !important...  */
  background-color: var(--primary) !important;
}

button {
  height: 44px;
  margin: 24px auto 0;
  display: block;
  width: 90%;
  border-radius: 32px;
  background-color: var(--primary);
  color: var(--white);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: var(--white);
  color: var(--primary);
}

footer {
  height: 15vh;
}
