@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  /* color palette */
  --primary: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --grey-light: hsl(217, 12%, 63%);
  --grey-medium: hsl(216, 12%, 54%);
  --blue-dark: hsl(213, 19%, 18%);
  --blue-darkest: hsl(216, 12%, 8%);
  --background: #141519;

  --icon-bg: #2e3c52;

  /* typography */
  --font: 'Overpass', sans-serif;
  --font-size-base: 15px;

  /*
   breakpoints for reference
   mobile: 375px
   desktop 1440px
   */
}

* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--background);
  color: var(--white);
  font-size: var(--font-size-base);
  font-family: var(--font);
}

h1,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  opacity: 0.7;
  line-height: 1.4;
}

main {
  height: 85vh;
  display: flex;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 20px 32px;

  border-radius: 12px;
  min-height: 320px;
  max-width: calc(375px - 10%);
  margin: auto;
  background: hsla(215, 27%, 12%, 1);
  background: linear-gradient(0deg, hsla(215, 27%, 12%, 1) 0%, #232e3e 100%);
}

img {
  width: 40px;
  height: 40px;
  padding: 12px;
  margin-bottom: 4px;
  background-color: #2e3c52;
  border-radius: 50%;
}

.card-text {
  margin-bottom: 8px;
}

.options-list-container {
  margin: 16px 0;
}

.review-options-list {
  display: flex;
  justify-content: space-around;
}

.review-options-list > li {
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding-top: 4px;
  background-color: var(--icon-bg);
  opacity: 0.9;
  border-radius: 50%;
}

button {
  height: 44px;
  border-radius: 32px;
  background-color: var(--primary);
  color: var(--white);
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  border: none;
}

footer {
  height: 15vh;
}
